<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
-->


<div class="container">
  <br>
  <h2 class="text-center">iPredict</h2>
  <hr>

  <div class="row">
    <aside class="col-sm-4">
      <p>Possible High Value Impact</p>
      <div class="card">
        <article class="card-group-item">
          <header class="card-header">
            <div style="text-align:left;">
              Radar
              <span style="float:right;">
                Confidence Level
              </span>
            </div>
          </header>
          <div class="filter-content">
            <div class="list-group list-group-flush">
              <div class="list-group-item" *ngFor="let entry of highValue">
                <a href="#">{{entry.radarId}}<span
                    class="float-right badge badge-light round" 
                    [style.background-color]="getBgColor(entry.matches)" 
                    [style.color]="getColor(entry.matches)"
                    [innerHTML]="getTag(entry.matches)"></span> </a>
                </div>
              <!--<a href="#" class="list-group-item">4564564<span
                  class="float-right badge badge-light round"
                  [style.background-color]="getBgColor('High')" 
                  [style.color]="getColor('High')">High</span> </a>
              <a href="#" class="list-group-item">234565<span
                  class="float-right badge badge-light round"
                  [style.background-color]="getBgColor('Low')" 
                  [style.color]="getColor('Low')">Low</span> </a>
              <a href="#" class="list-group-item">5656756<span
                  class="float-right badge badge-light round"
                  [style.background-color]="getBgColor('High')" 
                  [style.color]="getColor('High')">High</span> </a>-->
            </div> <!-- list-group .// -->
          </div>
        </article> <!-- card-group-item.// -->
      </div> <!-- card.// -->
    </aside> <!-- col.// -->

    <aside class="col-sm-8">
      <p>Possible Solutions</p>
      <div class="card"> 
        <table class="table table-striped custab">
          <thead>
            <tr class="card-header">
              <th>radar</th>
              <th>Possible solutions</th>
            </tr>
          </thead>
            <tr *ngFor="let entry of possibleSolution">
              <td>{{entry.radarId}}</td>
              <td><span *ngFor="let sol of entry.solutions"><a href="rdar://{{sol.radarId}}">{{sol.radarId}}</a> [Match: {{getMatch(sol.matching)}} | Score:{{sol.matching}}] </span></td>
            </tr>
          </table>
      </div> <!-- card.// -->
    </aside> <!-- col.// -->
  </div> <!-- row.// -->

</div>
<!--container end.//-->
<br><br>